In [1]:
import pandas as pd
import os
from glob import glob
import numpy as np
from pandas.api.types import CategoricalDtype

In [2]:
df_1 = pd.read_parquet('회원_전처리_test.parquet')  
df_2 = pd.read_parquet('신용_전처리_test.parquet') 
df_3 = pd.read_parquet('승인_전처리_test.parquet')
df_4 = pd.read_parquet('청구_전처리_test.parquet')
df_5 = pd.read_parquet('잔액_전처리_test.parquet')
df_6 = pd.read_parquet('채널_전처리_test.parquet')
df_7 = pd.read_parquet('마케팅_전처리_test.parquet')
df_8 = pd.read_parquet('성과_전처리_test.parquet')

In [3]:
df_merged = (
    df_1
    .merge(df_2,  on=['기준년월','ID'], how='left')
    .merge(df_3,  on=['기준년월','ID'], how='left')
    .merge(df_4,  on=['기준년월','ID'], how='left')
    .merge(df_5,  on=['기준년월','ID'], how='left')
    .merge(df_6,  on=['기준년월','ID'], how='left')
    .merge(df_7,  on=['기준년월','ID'], how='left')
    .merge(df_8,  on=['기준년월','ID'], how='left'))
print(df_merged.shape)
df_merged

(600000, 51)

,기준년월,ID,입회일자_신용,수신거부여부_TM,이용카드수_신용체크,이용금액_R3M_신용체크,최종유효년월_신용_이용가능,이용여부_3M_해외겸용_본인,카드이용한도금액,CA이자율_할인전,...,잔액_할부_B0M,월중평잔,평잔_일시불_6M,인입일수_ARS_R6M,방문후경과월_앱_R6M,불만제기후경과월_R12M,컨택건수_이용유도_TM_R6M,컨택건수_이용유도_EM_R6M,잔액_신판ca최대한도소진율_r6m,변동률_RV일시불평잔
0,201807,TEST_00000,20140501,1,2,21458,201905.0,1,50902,14.641712,...,0,5543,2933,0,6,0,0,2,0.142990,0.999998
1,201807,TEST_00001,20160201,0,2,18681,202108.0,1,50080,18.992879,...,8628,57180,657,1,0,12,2,3,0.329827,0.999998
2,201807,TEST_00002,20180301,0,2,40758,202303.0,0,100045,14.823453,...,6144,20641,6253,1,6,12,2,5,0.203465,0.999998
3,201807,TEST_00003,20120701,0,1,5255,202302.0,1,18508,15.121715,...,945,2480,819,2,6,12,3,22,0.087512,0.999998
4,201807,TEST_00004,20031201,1,3,16148,202307.0,1,4033,14.220050,...,2558,5644,979,1,6,12,0,9,0.730452,0.999998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,20130301,0,0,0,NaN,0,0,14.642972,...,0,0,0,0,6,0,0,0,0.004282,0.999998
599996,201812,TEST_99996,20171001,0,1,3110,202306.0,0,49025,14.221370,...,0,307,137,0,0,12,0,9,0.000000,0.999998
599997,201812,TEST_99997,20180601,0,0,0,202206.0,0,29996,15.207480,...,0,0,0,0,6,0,18,12,0.022608,0.000000
599998,201812,TEST_99998,20120201,1,6,173263,202402.0,1,42610,15.268772,...,2786,14021,18108,0,0,12,0,0,0.464707,0.999998
599999,201812,TEST_99999,20150801,0,2,3016,202208.0,1,86444,14.722716,...,0,18,9,0,6,0,0,0,0.000000,0.999998

In [4]:
cols = df_merged.columns.tolist()
cols

['기준년월',
 'ID',
 '입회일자_신용',
 '수신거부여부_TM',
 '이용카드수_신용체크',
 '이용금액_R3M_신용체크',
 '최종유효년월_신용_이용가능',
 '이용여부_3M_해외겸용_본인',
 '카드이용한도금액',
 'CA이자율_할인전',
 '최종이용일자_CA',
 '최종이용일자_체크',
 '최종이용일자_할부',
 '이용후경과월_일시불',
 '이용금액_할부_R12M',
 '이용금액_체크_R12M',
 '최대이용금액_할부_유이자_R12M',
 '쇼핑_기타_이용금액',
 '교통_정비이용금액',
 '교통_택시이용금액',
 '납부_기타이용금액',
 '_1순위업종',
 '_2순위업종',
 '_3순위업종',
 '_2순위쇼핑업종',
 '_3순위쇼핑업종',
 '_1순위교통업종',
 '_2순위교통업종',
 '_1순위납부업종_이용금액',
 'RP건수_B0M',
 'RP금액_B0M',
 'RP후경과월_교통',
 '연체입금원금_B0M',
 '정상청구원금_B5M',
 '연속유실적개월수_기본_24M_카드',
 '청구서발송여부_B0',
 '청구금액_R6M',
 '포인트_적립포인트_R12M',
 '포인트_이용포인트_R3M',
 '할인금액_청구서_R3M',
 '혜택수혜금액_R3M',
 '잔액_할부_B0M',
 '월중평잔',
 '평잔_일시불_6M',
 '인입일수_ARS_R6M',
 '방문후경과월_앱_R6M',
 '불만제기후경과월_R12M',
 '컨택건수_이용유도_TM_R6M',
 '컨택건수_이용유도_EM_R6M',
 '잔액_신판ca최대한도소진율_r6m',
 '변동률_RV일시불평잔']

In [7]:
cols =['기준년월',
 'ID',
 '입회일자_신용',
 '수신거부여부_TM',
 '이용카드수_신용체크',
 '최종유효년월_신용_이용가능',
 '이용여부_3M_해외겸용_본인',
 '카드이용한도금액',
 'CA이자율_할인전',
 '최종이용일자_CA',
 '최종이용일자_체크',
 '최종이용일자_할부',
 '이용후경과월_일시불',
 '이용금액_할부_R12M',
 '이용금액_체크_R12M',
 '최대이용금액_할부_유이자_R12M',
 '쇼핑_기타_이용금액',
 '교통_정비이용금액',
 '교통_택시이용금액',
 '납부_기타이용금액',
 '_1순위업종',
 '_2순위업종',
 '_3순위업종',
 '_2순위쇼핑업종',
 '_3순위쇼핑업종',
 '_1순위교통업종',
 '_2순위교통업종',
 '_1순위납부업종_이용금액',
 'RP건수_B0M',
 'RP금액_B0M',
 'RP후경과월_교통',
 '연체입금원금_B0M',
 '정상청구원금_B5M',
 '연속유실적개월수_기본_24M_카드',
 '청구서발송여부_B0',
 '포인트_적립포인트_R12M',
 '포인트_이용포인트_R3M',
 '할인금액_청구서_R3M',
 '혜택수혜금액_R3M',
 '월중평잔',
 '평잔_일시불_6M',
 '인입일수_ARS_R6M',
 '방문후경과월_앱_R6M',
 '불만제기후경과월_R12M',
 '컨택건수_이용유도_TM_R6M',
 '컨택건수_이용유도_EM_R6M',
 '잔액_신판ca최대한도소진율_r6m',
 '변동률_RV일시불평잔']
df_merged = df_merged[cols]
df_merged = df_merged.fillna(-1)
df_merged.to_parquet('Segment_merge_test_ver_02.parquet')