In [51]:
import pandas as pd
import os
from glob import glob
import numpy as np
from pandas.api.types import CategoricalDtype

In [52]:
df_member  = pd.read_parquet('회원정보_전처리.parquet')       
df_credit  = pd.read_parquet('신용정보_전처리.parquet')
df_payment = pd.read_parquet('청구입금정보_전처리.parquet')

df_merged = (
    df_member
    .merge(df_credit,  on=['기준년월','ID'], how='left')
    .merge(df_payment, on=['기준년월','ID'], how='left'))

print(df_merged.shape)
print(df_merged.columns.tolist())

df_merged.to_parquet('회원_신용_청구_병합.parquet', index=False)

(2400000, 93)
['기준년월', 'ID', '남녀구분코드', '연령', 'Segment', '회원여부_이용가능_CA', '회원여부_이용가능_카드론', '소지카드수_이용가능_신용', '입회일자_신용', '회원여부_연체', '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_메일', '수신거부여부_SMS', '가입통신회사코드', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내', '거주시도명', '직장시도명', '마케팅동의여부', '이용가능카드수_신용체크', '이용카드수_신용체크', '이용카드수_신용_가족', '이용금액_R3M_체크', '_1순위카드이용금액', '_1순위카드이용건수', '_1순위신용체크구분', '_2순위카드이용건수', '최종유효년월_신용_이용', '최종카드발급일자', '보유여부_해외겸용_본인', '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인', '연회비발생카드수_B0M', '기본연회비_B0M', '제휴연회비_B0M', '카드신청건수', 'Life_Stage', '최초한도금액', 'CA한도금액', '일시상환론한도금액', '월상환론한도금액', 'CA이자율_할인전', 'CL이자율_할인전', 'RV일시불이자율_할인전', 'RV현금서비스이자율_할인전', 'RV약정청구율', 'RV최소결제비율', '자발한도감액횟수_R12M', '자발한도감액금액_R12M', '자발한도감액후경과월', '강제한도감액횟수_R12M', '강제한도감액금액_R12M', '강제한도감액후경과월', '한도증액금액_R12M', '한도증액후경과월', '상향가능CA한도금액', '카드론동의여부', '월상환론상향가능한도금액', '일시불ONLY전환가능여부', '카드이용한도금액_B2M', '연체감액여부_R3M', '대표결제일', '대표청구지고객주소구분코드', '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0', '청구금액_R6M', '포인트_포인트_건별_B0M', '포인트_마일리지_월적립_B0M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M', '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_잔여포인트_B0M', '마일_적립포인트_R12M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인건수_B0M', '할인금액_B0M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액_R3M']

In [53]:
ex1 = df_merged

In [54]:
all_cols = ex1.columns.tolist()
print("전체 컬럼 이름:")
print(all_cols)
str_cols = ex1.select_dtypes(include=['object']).columns.tolist()
print("\n문자형 컬럼 이름:")
print(str_cols)
num_cols = ex1.select_dtypes(include=[np.number]).columns.tolist()
print("\n숫자형 컬럼 이름:")
print(num_cols)

전체 컬럼 이름:
['기준년월', 'ID', '남녀구분코드', '연령', 'Segment', '회원여부_이용가능_CA', '회원여부_이용가능_카드론', '소지카드수_이용가능_신용', '입회일자_신용', '회원여부_연체', '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_메일', '수신거부여부_SMS', '가입통신회사코드', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내', '거주시도명', '직장시도명', '마케팅동의여부', '이용가능카드수_신용체크', '이용카드수_신용체크', '이용카드수_신용_가족', '이용금액_R3M_체크', '_1순위카드이용금액', '_1순위카드이용건수', '_1순위신용체크구분', '_2순위카드이용건수', '최종유효년월_신용_이용', '최종카드발급일자', '보유여부_해외겸용_본인', '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인', '연회비발생카드수_B0M', '기본연회비_B0M', '제휴연회비_B0M', '카드신청건수', 'Life_Stage', '최초한도금액', 'CA한도금액', '일시상환론한도금액', '월상환론한도금액', 'CA이자율_할인전', 'CL이자율_할인전', 'RV일시불이자율_할인전', 'RV현금서비스이자율_할인전', 'RV약정청구율', 'RV최소결제비율', '자발한도감액횟수_R12M', '자발한도감액금액_R12M', '자발한도감액후경과월', '강제한도감액횟수_R12M', '강제한도감액금액_R12M', '강제한도감액후경과월', '한도증액금액_R12M', '한도증액후경과월', '상향가능CA한도금액', '카드론동의여부', '월상환론상향가능한도금액', '일시불ONLY전환가능여부', '카드이용한도금액_B2M', '연체감액여부_R3M', '대표결제일', '대표청구지고객주소구분코드', '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0', '청구금액_R6M', '포인트_포인트_건별_B0M', '포인트_마일리지_월적립_B0M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M', '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_잔여포인트_B0M', '마일_적립포인트_R12M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인건수_B0M', '할인금액_B0M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액_R3M']

문자형 컬럼 이름:
['ID', 'Segment']

숫자형 컬럼 이름:
['기준년월', '남녀구분코드', '연령', '회원여부_이용가능_CA', '회원여부_이용가능_카드론', '소지카드수_이용가능_신용', '입회일자_신용', '회원여부_연체', '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_메일', '수신거부여부_SMS', '가입통신회사코드', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내', '거주시도명', '직장시도명', '마케팅동의여부', '이용가능카드수_신용체크', '이용카드수_신용체크', '이용카드수_신용_가족', '이용금액_R3M_체크', '_1순위카드이용금액', '_1순위카드이용건수', '_1순위신용체크구분', '_2순위카드이용건수', '최종유효년월_신용_이용', '최종카드발급일자', '보유여부_해외겸용_본인', '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인', '연회비발생카드수_B0M', '기본연회비_B0M', '제휴연회비_B0M', '카드신청건수', 'Life_Stage', '최초한도금액', 'CA한도금액', '일시상환론한도금액', '월상환론한도금액', 'CA이자율_할인전', 'CL이자율_할인전', 'RV일시불이자율_할인전', 'RV현금서비스이자율_할인전', 'RV약정청구율', 'RV최소결제비율', '자발한도감액횟수_R12M', '자발한도감액금액_R12M', '자발한도감액후경과월', '강제한도감액횟수_R12M', '강제한도감액금액_R12M', '강제한도감액후경과월', '한도증액금액_R12M', '한도증액후경과월', '상향가능CA한도금액', '카드론동의여부', '월상환론상향가능한도금액', '일시불ONLY전환가능여부', '카드이용한도금액_B2M', '연체감액여부_R3M', '대표결제일', '대표청구지고객주소구분코드', '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0', '청구금액_R6M', '포인트_포인트_건별_B0M', '포인트_마일리지_월적립_B0M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M', '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_잔여포인트_B0M', '마일_적립포인트_R12M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인건수_B0M', '할인금액_B0M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M', '혜택수혜금액_R3M']

In [55]:
num_df = ex1.select_dtypes(include=[np.number]).dropna()
low_var = num_df.var()[ num_df.var() < 0.001 ].index.tolist()
low_var

[]

In [56]:
missing_mask = ex1.isna() | (ex1 == -1)

missing_ratio = missing_mask.mean()

high_na = missing_ratio[missing_ratio > 0.3].index.tolist()

print("결측(또는 -1) 비율 > 30% 컬럼:", high_na)

결측(또는 -1) 비율 > 30% 컬럼: []

In [22]:
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

num_df = (
    ex1
    .select_dtypes(include=[np.number])
    .drop(columns=['기준년월'], errors='ignore')
    .dropna()
)


X = add_constant(num_df)

vif_df = pd.DataFrame({
    'feature': X.columns,
    'VIF': [variance_inflation_factor(X.values, i)
            for i in range(X.shape[1])]
})

vif_df = vif_df[vif_df['feature'] != 'const'].reset_index(drop=True)

high_vif = vif_df[vif_df['VIF'] > 10]

print("VIF > 10인 컬럼들:", high_vif['feature'].tolist())
print(high_vif)

C:\Users\AHN\AppData\Local\anaconda3\Lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss
C:\Users\AHN\AppData\Local\anaconda3\Lib\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

VIF > 10인 컬럼들: ['회원여부_이용가능_카드론', '이용거절여부_카드론', '카드론동의여부']
          feature        VIF
3   회원여부_이용가능_카드론  10.055791
7      이용거절여부_카드론        inf
57        카드론동의여부        inf

In [57]:
cols_to_drop = ['이용거절여부_카드론','카드론동의여부']
ex1.drop(columns=cols_to_drop, inplace=True)

In [58]:
num_df = ex1.select_dtypes(include=[np.number]).dropna()

In [59]:
corr = num_df.corr().abs()
high_corr = (
  corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
      .stack()
      .loc[lambda x: x > 0.9]
)

In [60]:
high_corr

CA한도금액            카드이용한도금액_B2M      0.919630
CA이자율_할인전         RV현금서비스이자율_할인전    0.902279
자발한도감액횟수_R12M     자발한도감액금액_R12M     0.906917
포인트_마일리지_월적립_B0M  마일_잔여포인트_B0M      0.913859
선결제건수_R6M         선결제건수_R3M         0.935369
연체건수_R6M          연체건수_R3M          0.929644
dtype: float64

In [61]:
cols_to_drop = ['CA한도금액','CA이자율_할인전','자발한도감액횟수_R12M','포인트_마일리지_월적립_B0M','선결제건수_R6M','연체건수_R6M']
ex1.drop(columns=cols_to_drop, inplace=True)

In [62]:
num_df = ex1.select_dtypes(include=[np.number]).dropna()

In [63]:
corr = num_df.corr().abs()
high_corr = (
  corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
      .stack()
      .loc[lambda x: x > 0.8]
)

In [64]:
high_corr

회원여부_이용가능_카드론    월상환론한도금액           0.831981
수신거부여부_TM        수신거부여부_메일          0.804954
거주시도명            직장시도명              0.846373
이용가능카드수_신용체크     이용카드수_신용체크         0.801260
최종유효년월_신용_이용     최종카드발급일자           0.878220
보유여부_해외겸용_본인     이용여부_3M_해외겸용_본인    0.832151
이용여부_3M_해외겸용_본인  보유여부_해외겸용_신용_본인    0.883300
RV일시불이자율_할인전     RV현금서비스이자율_할인전     0.887543
강제한도감액횟수_R12M    강제한도감액금액_R12M      0.889812
청구금액_B0          청구금액_R6M           0.888810
포인트_포인트_건별_B0M   포인트_적립포인트_R12M     0.874437
포인트_적립포인트_R3M    포인트_이용포인트_R12M     0.824769
할인금액_B0M         할인금액_청구서_B0M       0.836687
dtype: float64

In [65]:
cols_to_drop = ['회원여부_이용가능_카드론','수신거부여부_TM','직장시도명','최종유효년월_신용_이용','보유여부_해외겸용_본인','보유여부_해외겸용_신용_본인',
               'RV일시불이자율_할인전','강제한도감액횟수_R12M','청구금액_R6M','포인트_적립포인트_R12M','포인트_이용포인트_R12M','할인금액_청구서_B0M']
ex1.drop(columns=cols_to_drop, inplace=True)

In [66]:
num_df = ex1.select_dtypes(include=[np.number]).dropna()

In [67]:
corr = num_df.corr().abs()
high_corr = (
  corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
      .stack()
      .loc[lambda x: x > 0.8]
)
high_corr

청구서발송여부_B0  청구서발송여부_R3M    0.844067
dtype: float64

In [68]:
cols_to_drop = ['청구서발송여부_R3M']
ex1.drop(columns=cols_to_drop, inplace=True)
num_df = ex1.select_dtypes(include=[np.number]).dropna()

In [69]:
corr = num_df.corr().abs()
high_corr = (
  corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
      .stack()
      .loc[lambda x: x > 0.7]
)
high_corr

탈회횟수_누적          최종탈회후경과월           0.727153
탈회횟수_발급6개월이내     탈회횟수_발급1년이내        0.788505
이용가능카드수_신용체크     이용카드수_신용체크         0.747823
_1순위카드이용금액       _1순위카드이용건수         0.748154
                 청구금액_B0            0.775376
연회비발생카드수_B0M     기본연회비_B0M          0.750968
CL이자율_할인전        RV현금서비스이자율_할인전     0.753065
RV현금서비스이자율_할인전   RV최소결제비율           0.746637
한도증액금액_R12M      한도증액후경과월           0.762566
청구서발송여부_B0       상환개월수_결제일_R6M      0.706292
포인트_포인트_건별_B0M   포인트_적립포인트_R3M      0.751925
포인트_포인트_월적립_B0M  포인트_포인트_월적립_R3M    0.761493
할인금액_B0M         혜택수혜금액_R3M         0.720768
dtype: float64

In [70]:
cols_to_drop = ['탈회횟수_누적','탈회횟수_발급1년이내','연회비발생카드수_B0M','이용카드수_신용체크','_1순위카드이용금액','RV현금서비스이자율_할인전',
                '한도증액금액_R12M','상환개월수_결제일_R6M','포인트_적립포인트_R3M','포인트_포인트_월적립_R3M','혜택수혜금액_R3M']
ex1.drop(columns=cols_to_drop, inplace=True)
num_df = ex1.select_dtypes(include=[np.number]).dropna()

In [71]:
corr = num_df.corr().abs()
high_corr = (
  corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
      .stack()
      .loc[lambda x: x > 0.7]
)
high_corr

Series([], dtype: float64)

In [72]:
ex1

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능_CA,소지카드수_이용가능_신용,입회일자_신용,회원여부_연체,동의여부_한도증액안내,...,포인트_포인트_건별_B0M,포인트_포인트_월적립_B0M,포인트_잔여포인트_B0M,마일_적립포인트_R12M,마일_잔여포인트_B0M,할인건수_R3M,할인건수_B0M,할인금액_B0M,선결제건수_R3M,연체건수_R3M
0,201807,TRAIN_000000,2,40,D,1,1,20130101,0,1,...,1444,0,0,0,0,1,1,0,0,0
1,201807,TRAIN_000001,1,30,E,1,1,20170801,0,0,...,0,0,0,0,0,1,1,0,0,0
2,201807,TRAIN_000002,1,30,C,1,1,20080401,0,1,...,2305,0,0,0,0,1,1,0,0,0
3,201807,TRAIN_000003,2,40,D,1,2,20160501,0,1,...,1452,0,0,0,0,1,1,0,0,0
4,201807,TRAIN_000004,2,40,E,1,1,20180601,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,-1,E,1,1,20010701,0,0,...,0,0,0,0,0,1,1,0,0,0
2399996,201812,TRAIN_399996,2,50,D,1,1,20170701,0,0,...,3339,0,0,0,0,1,1,0,0,0
2399997,201812,TRAIN_399997,1,30,C,1,1,20090501,0,0,...,0,0,0,0,0,1,1,0,0,0
2399998,201812,TRAIN_399998,1,40,E,1,1,20130101,0,0,...,0,0,0,0,0,1,1,0,0,0
2399999,201812,TRAIN_399999,2,40,E,1,1,20180501,0,0,...,0,0,0,0,0,1,1,0,0,0

In [73]:
ex1.to_parquet('회원_신용_청구.parquet', index=False)