In [1]:
import pandas as pd
import os, gc
from sklearn.preprocessing import LabelEncoder

In [2]:
path1 = 'C:/final_prj/open/8.성과_정보_전처리/'
os.listdir(path1)

['성과_전처리.parquet', '성과_전처리_final.parquet', '성과_전처리_test_final.parquet']

In [3]:
df1 = pd.read_parquet(path1 + '성과_전처리.parquet')
df1.head()

,기준년월,ID,증감율_이용건수_신용_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_신용_분기,증감율_이용건수_할부_분기,증감율_이용건수_CA_분기,증감율_이용건수_체크_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔,변동률_잔액_B1M
0,201807,TRAIN_000000,0.454548,1.999996,0.0,0.0,0.0,-0.476453,0.000000,0.0,-1.999996,0.0,0.153562,1.042805,0.261886
1,201807,TRAIN_000001,-0.511808,0.000000,0.0,0.0,0.0,0.226240,0.000000,0.0,0.000000,0.0,0.644283,0.905663,-0.563388
2,201807,TRAIN_000002,-0.062716,-1.999996,0.0,0.0,0.0,0.158594,1.999996,0.0,0.000000,0.0,0.189041,1.993590,-0.046516
3,201807,TRAIN_000003,0.135707,-1.999996,0.0,0.0,0.0,0.120484,0.000000,0.0,0.000000,0.0,0.333548,1.050646,0.023821
4,201807,TRAIN_000004,0.000000,0.000000,0.0,0.0,0.0,-1.999996,0.000000,0.0,-0.404712,0.0,0.021708,0.999998,0.000000

In [4]:
df1.shape

(2400000, 15)

In [5]:
path2 = 'C:/final_prj/open/'
os.listdir(path2)

['7.마케팅_정보_전처리',
 '8.성과_정보_전처리',
 'sample_submission.csv',
 'test',
 'test_마케팅정보_total.parquet',
 'test_성과정보_total.parquet',
 'train',
 'train_마케팅정보_total.parquet',
 'train_성과정보_total.parquet',
 '~$신용카드 고객 세그먼트 분류 AI 경진대회 데이터 명세.xlsx',
 '마케팅_성과_test.parquet',
 '마케팅_성과_train.parquet',
 '마케팅정보_vif.csv',
 '성과정보_VIF.csv',
 '신용카드 고객 세그먼트 분류 AI 경진대회 데이터 명세.xlsx',
 '회원정보_total.parquet']

In [6]:
df2 = pd.read_parquet(path2 +  '회원정보_total.parquet')
df2.head()

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15

In [7]:
df2.shape

(2400000, 78)

In [8]:
res = pd.concat([df1, df2['Segment']],axis=1)

In [9]:
del df2
gc.collect()

0

### 상관관계 분석을 위한 전처리

In [10]:
res['Segment'].value_counts()

Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

In [11]:
# Segment encoding
le = LabelEncoder()
res['Segment_en'] = le.fit_transform(res['Segment'])

# decoded = le.inverse_transform(encoded)
# print(decoded)  # ['red', 'blue', 'green', ...]

In [12]:
res.head()

,기준년월,ID,증감율_이용건수_신용_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_신용_분기,증감율_이용건수_할부_분기,증감율_이용건수_CA_분기,증감율_이용건수_체크_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔,변동률_잔액_B1M,Segment,Segment_en
0,201807,TRAIN_000000,0.454548,1.999996,0.0,0.0,0.0,-0.476453,0.000000,0.0,-1.999996,0.0,0.153562,1.042805,0.261886,D,3
1,201807,TRAIN_000001,-0.511808,0.000000,0.0,0.0,0.0,0.226240,0.000000,0.0,0.000000,0.0,0.644283,0.905663,-0.563388,E,4
2,201807,TRAIN_000002,-0.062716,-1.999996,0.0,0.0,0.0,0.158594,1.999996,0.0,0.000000,0.0,0.189041,1.993590,-0.046516,C,2
3,201807,TRAIN_000003,0.135707,-1.999996,0.0,0.0,0.0,0.120484,0.000000,0.0,0.000000,0.0,0.333548,1.050646,0.023821,D,3
4,201807,TRAIN_000004,0.000000,0.000000,0.0,0.0,0.0,-1.999996,0.000000,0.0,-0.404712,0.0,0.021708,0.999998,0.000000,E,4

In [13]:
drop_cols = ['기준년월', 'ID', 'Segment']
res_drop = res.drop(columns = drop_cols)
res_drop.head()

,증감율_이용건수_신용_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_신용_분기,증감율_이용건수_할부_분기,증감율_이용건수_CA_분기,증감율_이용건수_체크_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔,변동률_잔액_B1M,Segment_en
0,0.454548,1.999996,0.0,0.0,0.0,-0.476453,0.000000,0.0,-1.999996,0.0,0.153562,1.042805,0.261886,3
1,-0.511808,0.000000,0.0,0.0,0.0,0.226240,0.000000,0.0,0.000000,0.0,0.644283,0.905663,-0.563388,4
2,-0.062716,-1.999996,0.0,0.0,0.0,0.158594,1.999996,0.0,0.000000,0.0,0.189041,1.993590,-0.046516,2
3,0.135707,-1.999996,0.0,0.0,0.0,0.120484,0.000000,0.0,0.000000,0.0,0.333548,1.050646,0.023821,3
4,0.000000,0.000000,0.0,0.0,0.0,-1.999996,0.000000,0.0,-0.404712,0.0,0.021708,0.999998,0.000000,4

In [14]:
corr_matrix = res_drop.corr()

In [15]:
len(corr_matrix['Segment_en'][corr_matrix['Segment_en'].abs() >= 0.02])

8

In [16]:
corr_list = corr_matrix['Segment_en'][corr_matrix['Segment_en'].abs() >= 0.02].index.tolist()[:-1]

In [17]:
corr_list

['증감율_이용건수_할부_전월',
 '증감율_이용건수_CA_전월',
 '증감율_이용금액_체크_전월',
 '증감율_이용건수_할부_분기',
 '증감율_이용건수_카드론_분기',
 '잔액_신판평균한도소진율_r6m',
 '변동률_할부평잔']

In [18]:
pd.concat([df1.iloc[:,:2], df1[corr_list]],axis=1).to_parquet(path1 + '성과_전처리_final.parquet')

In [20]:
# 저장된 데이터 확인
tmp = pd.read_parquet(path1 + '성과_전처리_final.parquet')
tmp.head()

,기준년월,ID,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_할부_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔
0,201807,TRAIN_000000,1.999996,0.0,0.0,0.000000,0.0,0.153562,1.042805
1,201807,TRAIN_000001,0.000000,0.0,0.0,0.000000,0.0,0.644283,0.905663
2,201807,TRAIN_000002,-1.999996,0.0,0.0,1.999996,0.0,0.189041,1.993590
3,201807,TRAIN_000003,-1.999996,0.0,0.0,0.000000,0.0,0.333548,1.050646
4,201807,TRAIN_000004,0.000000,0.0,0.0,0.000000,0.0,0.021708,0.999998

In [21]:
tmp.shape

(2400000, 9)

In [24]:
len(['컨택건수_카드론_TM_B0M',
 '컨택건수_이용유도_TM_B0M',
 '컨택건수_보험_TM_B0M',
 '컨택건수_이용유도_LMS_B0M',
 '컨택건수_이용유도_EM_B0M',
 '컨택건수_이용유도_청구서_B0M',
 '컨택건수_이용유도_인터넷_B0M',
 '컨택건수_카드론_TM_R6M',
 '컨택건수_리볼빙_TM_R6M',
 '컨택건수_이용유도_TM_R6M',
 '컨택건수_부대서비스_TM_R6M',
 '컨택건수_보험_TM_R6M',
 '컨택건수_카드론_LMS_R6M',
 '컨택건수_CA_LMS_R6M',
 '컨택건수_카드론_EM_R6M',
 '컨택건수_카드론_청구서_R6M',
 '컨택건수_CA_청구서_R6M',
 '컨택건수_이용유도_인터넷_R6M',
 '컨택건수_채권_B0M',
 '컨택건수_채권_R6M',
 '증감율_이용건수_할부_전월',
 '증감율_이용건수_CA_전월',
 '증감율_이용금액_체크_전월',
 '증감율_이용건수_할부_분기',
 '증감율_이용건수_카드론_분기',
 '잔액_신판평균한도소진율_r6m',
 '변동률_할부평잔'])

27