In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()



# 그래프 기본 설정
#plt.rcParams['font.family'] = 'NanumGothic' #리눅스용
plt.rcParams['font.family'] = 'Malgun Gothic' #윈도우용
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False


#label_encoder
from sklearn.preprocessing import LabelEncoder

#다중공산성을 봐봅시다
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

#파일 경로
file_dir = "C:/Users/sherm/Desktop/workspace/likeLion_final_project/data/train/0.종합본/"

In [2]:
df=pd.read_parquet(file_dir + "train_잔액정보_append.parquet")

#### 비어있는 값들부터 drop

In [4]:
df_temp=df.drop(['기준년월','ID'],axis=1)

In [5]:
drop_list=['연체일자_B0M','카드론잔액_최종경과월','최종연체개월수_R15M','RV잔액이월횟수_R3M','RV잔액이월횟수_R6M','연체잔액_일시불_해외_B0M','연체잔액_CA_해외_B0M']
df_temp.drop(drop_list, axis=1,inplace=True)
df_temp

,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,월중평잔_CA_B0M,연체잔액_B0M,...,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M,Segment
0,998,962,22971,0,0,0,1084,547,25032,0,...,2440,0,0,0,572,0,17008,0,0,D
1,998,962,22971,0,0,0,1084,547,25032,0,...,2440,0,0,0,572,0,17008,0,0,D
2,998,962,22971,0,0,0,1084,547,25032,0,...,2440,0,0,0,572,0,17008,0,0,D
3,2565,2390,0,0,0,0,4090,2553,0,0,...,2677,0,2830,0,2736,0,0,0,0,E
4,2565,2390,0,0,0,0,4090,2553,0,0,...,2677,0,2830,0,2736,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
4799996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
4799997,1110,4093,0,0,0,0,637,2780,0,0,...,2415,0,0,0,6558,0,0,0,0,E
4799998,1110,4093,0,0,0,0,637,2780,0,0,...,2415,0,0,0,6558,0,0,0,0,E
4799999,1110,4093,0,0,0,0,637,2780,0,0,...,2415,0,0,0,6558,0,0,0,0,E

#### 파생변수 생성

In [10]:
df_temp['diff_연체원금_B1-2M'] = df_temp['연체원금_B1M'] - df_temp['연체원금_B2M']

conditions = [
    df_temp['diff_연체원금_B1-2M'] > 0,
    df_temp['diff_연체원금_B1-2M'] < 0,
    df_temp['diff_연체원금_B1-2M'] == 0
]

choices = ['증가', '감소', '유지']

df_temp['diff_연체원금_B1-2M_category'] = np.select(conditions, choices, default='기타')

In [8]:
df_temp['연체잔액_총합_B0M'] = df_temp['연체잔액_일시불_B0M'] + df_temp['연체잔액_할부_B0M'] + df_temp['연체잔액_현금서비스_B0M'] + df_temp['연체잔액_카드론_B0M'] + df_temp['연체잔액_대환론_B0M']

In [9]:
df_temp["잔액_총합_B0M"]=df_temp["잔액_일시불_B0M"]+df_temp["잔액_할부_B0M"]+df_temp['잔액_현금서비스_B0M']

In [11]:
df_temp['리볼빙CA_그룹'] = pd.cut(
    df_temp['잔액_리볼빙CA이월_B0M'],
    bins=[-1, 1, 1000, 3000, 4000, 10000, 14000, 20000, 30000, 50000],
    labels=False
)
df_temp['리볼빙CA_그룹'].value_counts()

리볼빙CA_그룹
0    4797114
7       1681
4        621
5        369
6        134
2         45
8         24
3         11
1          1
Name: count, dtype: int64

In [13]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800000 entries, 0 to 4799999
Data columns (total 79 columns):
 #   Column                    Dtype
---  ------                    -----
 0   잔액_일시불_B0M                int64
 1   잔액_할부_B0M                 int64
 2   잔액_현금서비스_B0M              int64
 3   잔액_리볼빙일시불이월_B0M           int64
 4   잔액_리볼빙CA이월_B0M            int64
 5   잔액_카드론_B0M                int64
 6   월중평잔_일시불_B0M              int64
 7   월중평잔_할부_B0M               int64
 8   월중평잔_CA_B0M               int64
 9   연체잔액_B0M                  int64
 10  연체잔액_일시불_B0M              int64
 11  연체잔액_할부_B0M               int64
 12  연체잔액_현금서비스_B0M            int64
 13  연체잔액_카드론_B0M              int64
 14  연체잔액_대환론_B0M              int64
 15  잔액_현금서비스_B1M              int64
 16  잔액_현금서비스_B2M              int64
 17  잔액_카드론_B1M                int64
 18  잔액_카드론_B2M                int64
 19  잔액_카드론_B3M                int64
 20  잔액_카드론_B4M                int64
 21  잔액_카드론_B5M                int64
 22  잔액_할부_B1M                 int64
 23  잔액_할부_B2M                 int64
 24  잔액_일시불_B1M                int64
 25  잔액_일시불_B2M                int64
 26  연체일수_B1M                  int64
 27  연체일수_B2M                  int64
 28  연체원금_B1M                  int64
 29  연체원금_B2M                  int64
 30  연체일수_최근                   int64
 31  연체원금_최근                   int64
 32  최종연체회차                    int64
 33  매각잔액_B1M                  int64
 34  RV_평균잔액_R12M              int64
 35  RV_최대잔액_R12M              int64
 36  RV_평균잔액_R6M               int64
 37  RV_최대잔액_R6M               int64
 38  RV_평균잔액_R3M               int64
 39  RV_최대잔액_R3M               int64
 40  잔액_할부_유이자_B0M             int64
 41  잔액_할부_무이자_B0M             int64
 42  잔액_할부_해외_B0M              int64
 43  연체잔액_RV일시불_B0M            int64
 44  연체잔액_RV일시불_해외_B0M         int64
 45  연체잔액_할부_해외_B0M            int64
 46  연체잔액_CA_B0M               int64
 47  월중평잔                      int64
 48  월중평잔_일시불                  int64
 49  월중평잔_RV일시불                int64
 50  월중평잔_할부                   int64
 51  월중평잔_CA                   int64
 52  월중평잔_카드론                  int64
 53  평잔_3M                     int64
 54  평잔_일시불_3M                 int64
 55  평잔_일시불_해외_3M              int64
 56  평잔_RV일시불_3M               int64
 57  평잔_RV일시불_해외_3M            int64
 58  평잔_할부_3M                  int64
 59  평잔_할부_해외_3M               int64
 60  평잔_CA_3M                  int64
 61  평잔_CA_해외_3M               int64
 62  평잔_카드론_3M                 int64
 63  평잔_6M                     int64
 64  평잔_일시불_6M                 int64
 65  평잔_일시불_해외_6M              int64
 66  평잔_RV일시불_6M               int64
 67  평잔_RV일시불_해외_6M            int64
 68  평잔_할부_6M                  int64
 69  평잔_할부_해외_6M               int64
 70  평잔_CA_6M                  int64
 71  평잔_CA_해외_6M               int64
 72  평잔_카드론_6M                 int64
 73  Segment                   object
 74  연체잔액_총합_B0M               int64
 75  잔액_총합_B0M                 int64
 76  diff_연체원금_B1-2M           int64
 77  diff_연체원금_B1-2M_category  object
 78  리볼빙CA_그룹                  int64
dtypes: int64(77), object(2)
memory usage: 2.8+ GB

In [14]:
연체원금_diff_encoder = LabelEncoder()
Segment_encoder = LabelEncoder()

df_temp['diff_연체원금_B1-2M_category']=연체원금_diff_encoder.fit_transform(df_temp['diff_연체원금_B1-2M_category'])
df_temp['Segment']=연체원금_diff_encoder.fit_transform(df_temp['Segment'])

In [15]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800000 entries, 0 to 4799999
Data columns (total 79 columns):
 #   Column                    Dtype
---  ------                    -----
 0   잔액_일시불_B0M                int64
 1   잔액_할부_B0M                 int64
 2   잔액_현금서비스_B0M              int64
 3   잔액_리볼빙일시불이월_B0M           int64
 4   잔액_리볼빙CA이월_B0M            int64
 5   잔액_카드론_B0M                int64
 6   월중평잔_일시불_B0M              int64
 7   월중평잔_할부_B0M               int64
 8   월중평잔_CA_B0M               int64
 9   연체잔액_B0M                  int64
 10  연체잔액_일시불_B0M              int64
 11  연체잔액_할부_B0M               int64
 12  연체잔액_현금서비스_B0M            int64
 13  연체잔액_카드론_B0M              int64
 14  연체잔액_대환론_B0M              int64
 15  잔액_현금서비스_B1M              int64
 16  잔액_현금서비스_B2M              int64
 17  잔액_카드론_B1M                int64
 18  잔액_카드론_B2M                int64
 19  잔액_카드론_B3M                int64
 20  잔액_카드론_B4M                int64
 21  잔액_카드론_B5M                int64
 22  잔액_할부_B1M                 int64
 23  잔액_할부_B2M                 int64
 24  잔액_일시불_B1M                int64
 25  잔액_일시불_B2M                int64
 26  연체일수_B1M                  int64
 27  연체일수_B2M                  int64
 28  연체원금_B1M                  int64
 29  연체원금_B2M                  int64
 30  연체일수_최근                   int64
 31  연체원금_최근                   int64
 32  최종연체회차                    int64
 33  매각잔액_B1M                  int64
 34  RV_평균잔액_R12M              int64
 35  RV_최대잔액_R12M              int64
 36  RV_평균잔액_R6M               int64
 37  RV_최대잔액_R6M               int64
 38  RV_평균잔액_R3M               int64
 39  RV_최대잔액_R3M               int64
 40  잔액_할부_유이자_B0M             int64
 41  잔액_할부_무이자_B0M             int64
 42  잔액_할부_해외_B0M              int64
 43  연체잔액_RV일시불_B0M            int64
 44  연체잔액_RV일시불_해외_B0M         int64
 45  연체잔액_할부_해외_B0M            int64
 46  연체잔액_CA_B0M               int64
 47  월중평잔                      int64
 48  월중평잔_일시불                  int64
 49  월중평잔_RV일시불                int64
 50  월중평잔_할부                   int64
 51  월중평잔_CA                   int64
 52  월중평잔_카드론                  int64
 53  평잔_3M                     int64
 54  평잔_일시불_3M                 int64
 55  평잔_일시불_해외_3M              int64
 56  평잔_RV일시불_3M               int64
 57  평잔_RV일시불_해외_3M            int64
 58  평잔_할부_3M                  int64
 59  평잔_할부_해외_3M               int64
 60  평잔_CA_3M                  int64
 61  평잔_CA_해외_3M               int64
 62  평잔_카드론_3M                 int64
 63  평잔_6M                     int64
 64  평잔_일시불_6M                 int64
 65  평잔_일시불_해외_6M              int64
 66  평잔_RV일시불_6M               int64
 67  평잔_RV일시불_해외_6M            int64
 68  평잔_할부_6M                  int64
 69  평잔_할부_해외_6M               int64
 70  평잔_CA_6M                  int64
 71  평잔_CA_해외_6M               int64
 72  평잔_카드론_6M                 int64
 73  Segment                   int64
 74  연체잔액_총합_B0M               int64
 75  잔액_총합_B0M                 int64
 76  diff_연체원금_B1-2M           int64
 77  diff_연체원금_B1-2M_category  int64
 78  리볼빙CA_그룹                  int64
dtypes: int64(79)
memory usage: 2.8 GB

In [16]:
X = df_temp.drop('Segment',axis=1)
X_const = add_constant(X)
vif_df_01 = pd.DataFrame()
vif_df_01["feature"] = X.columns
vif_df_01["VIF"] = [variance_inflation_factor(X_const.values, i+1) for i in range(len(X.columns))]

In [19]:
vif_df_01.nlargest(50,'VIF')

            feature           VIF
0        잔액_일시불_B0M           inf
1         잔액_할부_B0M           inf
2      잔액_현금서비스_B0M           inf
11      연체잔액_할부_B0M           inf
12   연체잔액_현금서비스_B0M           inf
13     연체잔액_카드론_B0M           inf
14     연체잔액_대환론_B0M           inf
28         연체원금_B1M           inf
29         연체원금_B2M           inf
73      연체잔액_총합_B0M           inf
74        잔액_총합_B0M           inf
75  diff_연체원금_B1-2M           inf
10     연체잔액_일시불_B0M  9.007199e+15
9          연체잔액_B0M  4.881495e+08
41    잔액_할부_무이자_B0M  2.965820e+08
40    잔액_할부_유이자_B0M  7.708200e+07
7       월중평잔_할부_B0M  3.243264e+02
17       잔액_카드론_B1M  2.989074e+02
50          월중평잔_할부  2.734371e+02
51          월중평잔_CA  2.708340e+02
8       월중평잔_CA_B0M  1.934294e+02
56      평잔_RV일시불_3M  1.869908e+02
52         월중평잔_카드론  1.826883e+02
5        잔액_카드론_B0M  1.817470e+02
38      RV_평균잔액_R3M  1.776805e+02
37      RV_최대잔액_R6M  1.405937e+02
49       월중평잔_RV일시불  1.348651e+02
22        잔액_할부_B1M  1.234501e+02
36      RV_평균잔액_R6M  1.212267e+02
39      RV_최대잔액_R3M  1.039254e+02
60         평잔_CA_3M  9.470833e+01
66      평잔_RV일시불_6M  8.713736e+01
15     잔액_현금서비스_B1M  8.167827e+01
62        평잔_카드론_3M  7.246597e+01
35     RV_최대잔액_R12M  7.071639e+01
34     RV_평균잔액_R12M  7.038263e+01
58         평잔_할부_3M  6.041582e+01
6      월중평잔_일시불_B0M  4.790336e+01
48         월중평잔_일시불  4.537487e+01
20       잔액_카드론_B4M  4.271856e+01
18       잔액_카드론_B2M  4.059925e+01
19       잔액_카드론_B3M  4.046193e+01
72        평잔_카드론_6M  4.023918e+01
70         평잔_CA_6M  3.541386e+01
54        평잔_일시불_3M  3.441973e+01
53            평잔_3M  2.844199e+01
3   잔액_리볼빙일시불이월_B0M  2.485945e+01
16     잔액_현금서비스_B2M  2.414605e+01
26         연체일수_B1M  2.318404e+01
27         연체일수_B2M  2.278864e+01