In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [2]:
df = pd.read_parquet("result/train/03_train_승인매출정보_전처리.parquet")

### VIF 10 이상 컬럼 제거

In [3]:
def calculate_vif_once(df, thresh=10.0):
    """
    한 번만 VIF 계산해서 임계값(thresh) 초과하는 컬럼 제거
    """
    X = add_constant(df)
    vif = pd.Series(
        [variance_inflation_factor(X.values, i) for i in range(1, X.shape[1])],
        index=df.columns
    )
    
    # VIF 초과 컬럼 목록
    to_drop = vif[vif > thresh].index.tolist()
    print(f"VIF {thresh} 초과 컬럼 제거: {to_drop}")
    
    return df.drop(columns=to_drop)

In [4]:
# exclude 목록 정의
exclude_cols = ['ID']

# ID 컬럼 따로 저장
df_id = df[exclude_cols] 

# 수치형 컬럼만 추출
df_numeric = df.select_dtypes(include=[np.number])

# 샘플링 
df_sample = df_numeric.sample(n=5000, random_state=42)

# 샘플에서 VIF 기반 컬럼 제거
df_sample_reduced = calculate_vif_once(df_sample, thresh=10.0)

# 남은 컬럼을 전체 데이터에 적용
final_df = df_numeric[df_sample_reduced.columns]

# 전처리 완료된 결과에 ID 다시 붙이기
final_df = pd.concat([df_id, final_df], axis=1)

print(f" 최종 전체 데이터 shape: {final_df.shape}")

C:\Users\Lee\anaconda3\envs\tensorflow_env\lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

VIF 10.0 초과 컬럼 제거: []
 최종 전체 데이터 shape: (2400000, 72)

### VIF 8이상 컬럼 제거

In [5]:
def calculate_vif_once(df, thresh=8.0):
    """
    한 번만 VIF 계산해서 임계값(thresh) 초과하는 컬럼 제거
    """
    X = add_constant(df)
    vif = pd.Series(
        [variance_inflation_factor(X.values, i) for i in range(1, X.shape[1])],
        index=df.columns
    )
    
    # VIF 초과 컬럼 목록
    to_drop = vif[vif > thresh].index.tolist()
    print(f"VIF {thresh} 초과 컬럼 제거: {to_drop}")
    
    return df.drop(columns=to_drop)

In [6]:
# exclude 목록 정의
exclude_cols = ['ID']

# ID 컬럼 따로 저장
df_id = df[exclude_cols] 

# 수치형 컬럼만 추출
df_numeric = df.select_dtypes(include=[np.number])

# 샘플링 
df_sample = df_numeric.sample(n=5000, random_state=42)

# 샘플에서 VIF 기반 컬럼 제거
df_sample_reduced = calculate_vif_once(df_sample, thresh=8.0)

# 남은 컬럼을 전체 데이터에 적용
final_df = df_numeric[df_sample_reduced.columns]

# 전처리 완료된 결과에 ID 다시 붙이기
final_df = pd.concat([df_id, final_df], axis=1)

print(f" 최종 전체 데이터 shape: {final_df.shape}")

C:\Users\Lee\anaconda3\envs\tensorflow_env\lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

VIF 8.0 초과 컬럼 제거: []
 최종 전체 데이터 shape: (2400000, 72)

### VIF 6이상 컬럼 제거

In [7]:
def calculate_vif_once(df, thresh=6.0):
    """
    한 번만 VIF 계산해서 임계값(thresh) 초과하는 컬럼 제거
    """
    X = add_constant(df)
    vif = pd.Series(
        [variance_inflation_factor(X.values, i) for i in range(1, X.shape[1])],
        index=df.columns
    )
    
    # VIF 초과 컬럼 목록
    to_drop = vif[vif > thresh].index.tolist()
    print(f"VIF {thresh} 초과 컬럼 제거: {to_drop}")
    
    return df.drop(columns=to_drop)

In [8]:
# exclude 목록 정의
exclude_cols = ['ID']

# ID 컬럼 따로 저장
df_id = df[exclude_cols] 

# 수치형 컬럼만 추출
df_numeric = df.select_dtypes(include=[np.number])

# 샘플링 
df_sample = df_numeric.sample(n=5000, random_state=42)

# 샘플에서 VIF 기반 컬럼 제거
df_sample_reduced = calculate_vif_once(df_sample, thresh=6.0)

# 남은 컬럼을 전체 데이터에 적용
final_df = df_numeric[df_sample_reduced.columns]

# 전처리 완료된 결과에 ID 다시 붙이기
final_df = pd.concat([df_id, final_df], axis=1)

print(f" 최종 전체 데이터 shape: {final_df.shape}")

C:\Users\Lee\anaconda3\envs\tensorflow_env\lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

VIF 6.0 초과 컬럼 제거: []
 최종 전체 데이터 shape: (2400000, 72)

### VIF 5이상 컬럼 제거

In [9]:
def calculate_vif_once(df, thresh=5.0):
    """
    한 번만 VIF 계산해서 임계값(thresh) 초과하는 컬럼 제거
    """
    X = add_constant(df)
    vif = pd.Series(
        [variance_inflation_factor(X.values, i) for i in range(1, X.shape[1])],
        index=df.columns
    )
    
    # VIF 초과 컬럼 목록
    to_drop = vif[vif > thresh].index.tolist()
    print(f"VIF {thresh} 초과 컬럼 제거: {to_drop}")
    
    return df.drop(columns=to_drop)

In [10]:
# exclude 목록 정의
exclude_cols = ['ID']

# ID 컬럼 따로 저장
df_id = df[exclude_cols] 

# 수치형 컬럼만 추출
df_numeric = df.select_dtypes(include=[np.number])

# 샘플링 
df_sample = df_numeric.sample(n=5000, random_state=42)

# 샘플에서 VIF 기반 컬럼 제거
df_sample_reduced = calculate_vif_once(df_sample, thresh=5.0)

# 남은 컬럼을 전체 데이터에 적용
final_df = df_numeric[df_sample_reduced.columns]

# 전처리 완료된 결과에 ID 다시 붙이기
final_df = pd.concat([df_id, final_df], axis=1)

print(f" 최종 전체 데이터 shape: {final_df.shape}")

C:\Users\Lee\anaconda3\envs\tensorflow_env\lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

VIF 5.0 초과 컬럼 제거: []
 최종 전체 데이터 shape: (2400000, 72)

In [11]:
final_df

,ID,기준년월,최종이용일자_기본,최종이용일자_CA,최종이용일자_카드론,최종이용일자_체크,최종이용일자_할부,이용건수_신용_B0M,이용건수_할부_B0M,이용건수_할부_유이자_B0M,...,이용개월수_C페이_R6M,이용개월수_D페이_R6M,이용금액_D페이_B0M,이용개월수_선결제_R6M,이용횟수_연체_R6M,가맹점매출금액_B1M,건수_할부전환_R6M,승인거절건수_R3M,승인거절건수_BL_R3M,승인거절건수_기타_R3M
0,TRAIN_000000,201807,20180719,20180719,10101,20180203,20180713,11,1,0,...,0,0,0,0,1,0,0,3,0,0
1,TRAIN_000001,201807,20180719,20170728,20170327,10101,20171231,13,0,0,...,0,0,0,0,0,0,0,3,0,0
2,TRAIN_000002,201807,20180706,20180706,20151119,20141230,20180627,12,0,0,...,0,0,0,0,0,6190,0,0,0,0
3,TRAIN_000003,201807,20180721,20180721,10101,20141111,20180715,6,1,1,...,0,0,0,0,0,0,0,3,0,0
4,TRAIN_000004,201807,20180124,10101,10101,20180512,10101,-2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,201812,20181220,10101,10101,20181212,20160501,2,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,TRAIN_399996,201812,20181202,10101,20170112,10101,20180112,10,0,0,...,0,0,0,0,0,0,0,0,0,0
2399997,TRAIN_399997,201812,20181230,10101,10101,20131124,20180919,10,0,0,...,0,0,0,0,0,0,0,0,0,0
2399998,TRAIN_399998,201812,20161224,10101,10101,10101,20150122,-2,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,TRAIN_399999,201812,20180831,10101,10101,10101,20180713,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
final_df.to_parquet("result/train/04_train_승인매출정보_VIF제거.parquet", index=False)
final_df.to_csv("result/train/04_train_승인매출정보_VIF제거.csv", index=False)