In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np

In [2]:
df = pd.read_parquet('result/train/04_train_승인매출정보_VIF제거.parquet')

In [3]:
# 클러스터링에 사용할 수치형 컬럼만 선택 (예: ID 등 제외)
exclude_cols = ['ID']  # 제외할 컬럼 이름은 여기에 추가
features = df.select_dtypes(include=[np.number]).drop(columns=exclude_cols, errors='ignore')

# KMeans 클러스터링 (5개 클러스터)
kmeans = KMeans(n_clusters=5, random_state=42)
df['Segment'] = kmeans.fit_predict(features)

# 숫자 라벨을 문자(A~E)로 변환
label_map = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}
df['Segment'] = df['Segment'].map(label_map)

# 결과 확인
print(df['Segment'].value_counts())

Segment
A    653555
D    637822
E    422468
C    365177
B    320978
Name: count, dtype: int64

In [4]:
df

,ID,기준년월,최종이용일자_기본,최종이용일자_CA,최종이용일자_카드론,최종이용일자_체크,최종이용일자_할부,이용건수_신용_B0M,이용건수_할부_B0M,이용건수_할부_유이자_B0M,...,이용개월수_D페이_R6M,이용금액_D페이_B0M,이용개월수_선결제_R6M,이용횟수_연체_R6M,가맹점매출금액_B1M,건수_할부전환_R6M,승인거절건수_R3M,승인거절건수_BL_R3M,승인거절건수_기타_R3M,Segment
0,TRAIN_000000,201807,20180719,20180719,10101,20180203,20180713,11,1,0,...,0,0,0,1,0,0,3,0,0,E
1,TRAIN_000001,201807,20180719,20170728,20170327,10101,20171231,13,0,0,...,0,0,0,0,0,0,3,0,0,B
2,TRAIN_000002,201807,20180706,20180706,20151119,20141230,20180627,12,0,0,...,0,0,0,0,6190,0,0,0,0,B
3,TRAIN_000003,201807,20180721,20180721,10101,20141111,20180715,6,1,1,...,0,0,0,0,0,0,3,0,0,E
4,TRAIN_000004,201807,20180124,10101,10101,20180512,10101,-2,0,0,...,0,0,0,0,0,0,0,0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,201812,20181220,10101,10101,20181212,20160501,2,0,0,...,0,0,0,0,0,0,0,0,0,C
2399996,TRAIN_399996,201812,20181202,10101,20170112,10101,20180112,10,0,0,...,0,0,0,0,0,0,0,0,0,A
2399997,TRAIN_399997,201812,20181230,10101,10101,20131124,20180919,10,0,0,...,0,0,0,0,0,0,0,0,0,C
2399998,TRAIN_399998,201812,20161224,10101,10101,10101,20150122,-2,0,0,...,0,0,0,0,0,0,0,0,0,A
2399999,TRAIN_399999,201812,20180831,10101,10101,10101,20180713,-1,0,0,...,0,0,0,0,0,0,0,0,0,A

In [6]:
df.to_parquet('result/train/05_train_승인매출정보_KMeans.parquet', index=False)
df.to_csv('result/train/05_train_승인매출정보_KMeans.csv', index=False)