In [1]:
import pandas as pd

In [2]:
df1 = pd.read_parquet('merge/01_test_회원정보.parquet')
df2 = pd.read_parquet('merge/02_test_신용정보.parquet')
df3 = pd.read_parquet('merge/03_test_승인매출정보.parquet')
df4 = pd.read_parquet('merge/04_test_청구입금정보.parquet')
df5 = pd.read_parquet('merge/05_test_잔액정보.parquet')
df7 = pd.read_parquet('merge/07_test_마케팅정보.parquet')
df8 = pd.read_parquet('merge/08_test_성과정보.parquet')

df3

                ID  최종이용일자_CA  최종이용일자_카드론  최종이용일자_체크  최종이용일자_할부  이용후경과월_할부
0       TEST_00000      10101       10101      10101   20160913         12
1       TEST_00001   20170710    20171107   20180731   20180722          0
2       TEST_00002      10101       10101      10101   20160703          1
3       TEST_00003   20150822    20150801      10101   20160701          2
4       TEST_00004   20130917       10101   20180707   20180708          0
...            ...        ...         ...        ...        ...        ...
599995  TEST_99995      10101       10101      10101      10101         12
599996  TEST_99996      10101       10101      10101      10101         12
599997  TEST_99997      10101       10101      10101      10101         12
599998  TEST_99998      10101       10101   20181225   20180608          2
599999  TEST_99999      10101       10101      10101      10101         12

[600000 rows x 6 columns]

In [3]:
# 인덱스 맞추기 (행 순서가 같다는 전제)
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df3.reset_index(drop=True)
df4 = df4.reset_index(drop=True)
df5 = df5.reset_index(drop=True)
df7 = df7.reset_index(drop=True)
df8 = df8.reset_index(drop=True)


# 열 기준으로 concat
df_concat = pd.concat([df1, df2, df3, df4, df5, df7, df8], axis=1)

# 결과 확인
print("합쳐진 데이터프레임 shape:", df_concat.shape)
print("컬럼 수:", df_concat.shape[1])
print("미리보기:")
print(df_concat.head())

합쳐진 데이터프레임 shape: (600000, 67)
컬럼 수: 67
미리보기:
     기준년월          ID  소지카드수_유효_신용   입회일자_신용  유효카드수_신용_가족  이용금액_R3M_체크  \
0  201807  TEST_00000            2  20140501            1            0
1  201807  TEST_00001            1  20160201            0         7921
2  201807  TEST_00002            2  20180301            0            0
3  201807  TEST_00003            1  20120701            0            0
4  201807  TEST_00004            1  20031201            0         1857

     기준년월          ID  카드이용한도금액          ID  ...  컨택건수_카드론_LMS_R6M  \
0  201807  TEST_00000     50902  TEST_00000  ...                 0
1  201807  TEST_00001     50080  TEST_00001  ...                 0
2  201807  TEST_00002    100045  TEST_00002  ...                 0
3  201807  TEST_00003     18508  TEST_00003  ...                 0
4  201807  TEST_00004      4033  TEST_00004  ...                 0

   컨택건수_이용유도_인터넷_R6M  컨택건수_채권_R6M  증감율_이용건수_할부_전월  증감율_이용건수_CA_전월  \
0                  4            0        0.000000        0.000000
1                  1            0       -0.583068       -1.999856
2                  2            0       -1.999996        0.000000
3                  6            0        0.000000        0.000000
4                  2            0       -1.999996        0.000000

   증감율_이용금액_체크_전월 증감율_이용건수_할부_분기  증감율_이용건수_카드론_분기  잔액_신판평균한도소진율_r6m  변동률_할부평잔
0        0.000000       0.000000              0.0          0.027117  0.999998
1       -0.014037       0.341557              0.0          0.154375  1.044473
2        0.000000      -1.109685              0.0          0.165020  1.053083
3        0.000000       1.999996              0.0          0.000000  1.991630
4       -0.009348       0.337840              0.0          0.531094  1.053743

[5 rows x 67 columns]

In [4]:
# 중복된 컬럼 이름 제거 (앞에서 등장한 것만 남기고 나머지 제거)
df_deduped = df_concat.loc[:, ~df_concat.columns.duplicated()]

print("중복 컬럼 제거 후 shape:", df_deduped.shape)

중복 컬럼 제거 후 shape: (600000, 48)

In [5]:
cols = df_deduped.columns.tolist()
cols

['기준년월',
 'ID',
 '소지카드수_유효_신용',
 '입회일자_신용',
 '유효카드수_신용_가족',
 '이용금액_R3M_체크',
 '카드이용한도금액',
 '최종이용일자_CA',
 '최종이용일자_카드론',
 '최종이용일자_체크',
 '최종이용일자_할부',
 '이용후경과월_할부',
 '청구서발송여부_B0',
 '청구금액_B0',
 '포인트_마일리지_건별_B0M',
 '할인건수_R3M',
 '잔액_일시불_B0M',
 '평잔_일시불_해외_3M',
 '월중평잔',
 '잔액_현금서비스_B0M',
 '잔액_할부_B0M',
 '컨택건수_카드론_TM_B0M',
 '컨택건수_이용유도_TM_B0M',
 '컨택건수_보험_TM_B0M',
 '컨택건수_이용유도_LMS_B0M',
 '컨택건수_이용유도_EM_B0M',
 '컨택건수_이용유도_청구서_B0M',
 '컨택건수_이용유도_인터넷_B0M',
 '컨택건수_카드론_TM_R6M',
 '컨택건수_리볼빙_TM_R6M',
 '컨택건수_이용유도_TM_R6M',
 '컨택건수_부대서비스_TM_R6M',
 '컨택건수_보험_TM_R6M',
 '컨택건수_카드론_LMS_R6M',
 '컨택건수_CA_LMS_R6M',
 '컨택건수_카드론_EM_R6M',
 '컨택건수_카드론_청구서_R6M',
 '컨택건수_CA_청구서_R6M',
 '컨택건수_이용유도_인터넷_R6M',
 '컨택건수_채권_B0M',
 '컨택건수_채권_R6M',
 '증감율_이용건수_할부_전월',
 '증감율_이용건수_CA_전월',
 '증감율_이용금액_체크_전월',
 '증감율_이용건수_할부_분기',
 '증감율_이용건수_카드론_분기',
 '잔액_신판평균한도소진율_r6m',
 '변동률_할부평잔']

In [6]:
df_deduped.to_parquet('merge/result/001_test_전처리데이터병합.parquet')